*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.color {
  width: 75%;
  height: 200px;
  border: 1px solid black;
}
.center p {
  width: 75%;
  height: 30px;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.center {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

